.contact a {
  color: #383636;
  text-decoration: none; }

.center-whats, .center-mobile, .center-email {
  margin: auto;
  padding: 10px;
  height: 100px; }

.contact p {
  padding: 5;
  text-align: center; }

.contact > div {
  width: 32%; }

.center-whats {
  width: 90px; }

.center-mobile {
  width: 68px;
  fill: #806f66; }

.center-email {
  width: 110px; }

.social-links {
  padding-bottom: 30px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between; }
  .social-links li {
    display: inline-block; }
    .social-links li a {
      width: 43px;
      height: 43px;
      display: block;
      text-indent: -99999px; }

.facebook {
  background-image: url("../images/icon/facebook-brands.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.twitter {
  background-image: url("../images/icon/twitter-square-brands.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.linkedin {
  background-image: url("../images/icon/linkedin-brands.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.instagram {
  background-image: url("../images/icon/instagram-brands.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

.medium {
  background-image: url("../images/icon/medium-brands.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }
