django==2.2.7
django_http2_push==0.0b2
django_ogp==0.0b7
django-csp==3.6

django-health-check==3.11.1
django-htmlmin==0.11.0
django-image-cropping==1.2.0
easy_thumbnails==2.6
django-ckeditor==5.8.0
Pillow==6.2.1

python-json-logger==0.1.11
request-id-django-log==0.1.1

django-storages==1.8
google-cloud-storage==1.23.0

psycopg2-binary==2.8.4

gunicorn==20.0.4
gevent==1.4.0
WhiteNoise==4.1.4
whitenoise[brotli]
sentry-sdk==0.19.2
