{% load static %} {% load thumbnail %} {% load ogp %} {% load static_push %}

<html>
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js"
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T7W32D7");
    </script>
    <!-- End Google Tag Manager -->

    {% show_ogp %}

    <!--
      <link rel="
      preload" href="https://fonts.googleapis.com/css?family=Roboto:400,400i" as="style" onload="this.rel='stylesheet'">

      <link rel="
      preload" href="{% static_push 'mainapp/css/bootstrap-grid.min.css' %}" as="style" onload="this.rel='stylesheet'">

      <link rel="
      preload" href="{% static_push 'mainapp/css/all.css' %}" as="style" onload="this.rel='stylesheet'">
    -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i"
    />
    <link
      rel="stylesheet"
      href="{% static_push 'mainapp/css/bootstrap-grid.min.css' %}"
    />
    <link rel="stylesheet" href="{% static_push 'mainapp/css/all.css' %}" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T7W32D7"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "mainapp/body-header.html" with home=home %}
    <main>
      <section id="header" class="main-header">
        <div class="header-content">
          <!--
            <h1>Isabele Lucchesi</h1>
            <p>Psicóloga e Sex Coach.</p>
            <p>Atendimento em São Paulo e Online</p>
          -->
          <p>{{ home.header_text | safe }}</p>
        </div>
      </section>
      <section class="container clearfix section-about" id="about">
        <div class="row">
          <header class="header">
            <h2 id="about-title" class="title">{{ home.title_about }}</h2>
          </header>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>{{ home.text_about | safe }}</p>
          </div>
          <div class="col-md-4">
            <img
              class="about-img"
              src="{% static_push 'mainapp/images/about-me.jpg' %}"
              alt="{{ home.image_alt }}"
            />
          </div>
        </div>
      </section>
      <section class="clearfix banner1" id="banner1"></section>
      <section class="container clearfix" id="testimonials">
        <div class="row">
          <header class="header">
            <h2 class="title">{{ home.title_depositions }}</h2>
          </header>
        </div>
        <div class="row">
          <div class="flex-container">
            {% for d in depositions %}
            <div class="col-md-4 col-sm-6 flex-margin depocard">
              <blockquote class="depo">
                <p>{{ d.text }}</p>
                <address class="cli">{{ d.author }}</address>
              </blockquote>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section class="clearfix banner2" id="banner2"></section>
      <section class="container clearfix" id="address">
        <div class="row">
          <header class="header">
            <h2 class="title">{{ home.title_enderecos }}</h2>
          </header>
        </div>
        <div class="row">
          <div class="col-md-4">
            <ul class="adrress">
              {% for a in address %}
              <li>
                <p>{{ a.title }}</p>
                <p>{{ a.text }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-8 iframe-map">
            <iframe
              src="{{ home.link_maps }}"
              width="100%"
              height="480"
            ></iframe>
          </div>
        </div>
      </section>
      <section class="clearfix banner3" id="banner2"></section>

      {% include "mainapp/contact.html" with home=home %}
{#      <div>#}
{#        {% include "mainapp/instagram.html" %}#}
{#      </div>#}
    </main>

    {% include "mainapp/aside.html" with home=home %}
    <div>
      {% include "mainapp/footer.html" %}
    </div>
  </body>

  <script src="{% static_push 'mainapp/js/all.js' %}"></script>
</html>
