{% load static_push %}

<nav class="navbar navbar-expand-lg navbar-light reset-padding">
    <a class="navbar-brand cursor" {% if menu_url %} href="{% url 'index' %}#header" {% else %}data-move-to-id="header"
        {%endif%}>
        <img src="{% static_push 'mainapp/images/logo.png' %}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation" id="nav-toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav nav-justified my-nav" id="nav-list">
            <li class="nav-item ">
                <a class="nav-link" {% if menu_url %} href="{% url 'index' %}#header" {% else %}data-move-to-id="header"
                    {%endif%}>Inicio</a></li>
            <li class="nav-item ">
                <a class="nav-link" {% if menu_url %} href="{% url 'index' %}#about" {% else %}data-move-to-id="about_me_2"
                    {%endif%}>Isabele</a></li>
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="{% url 'coaching' %}">Coaching</a></li>#}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'psicologia' %}">Psicologia</a></li>
            <li class="nav-item ">
                <a class="nav-link" {% if menu_url %} href="{% url 'index' %}#testimonials" {% else %}data-move-to-id="testimonials"
                    {%endif%}>Depoimentos</a></li>
{#            <li class="nav-item ">#}
{#                <a class="nav-link" {% if menu_url %} href="{% url 'index' %}#address" {% else %}data-move-to-id="address"#}
{#                    {%endif%}>Endereços</a></li>#}
            <li class="nav-item ">
                <a class="nav-link" {% if menu_url %} href="{% url 'index' %}#contact" {% else %}data-move-to-id="contact"
                    {%endif%}>Contatos</a></li>

            <li class="nav-item ">
                <a class="nav-link" href="http://blog.isabelelucchesi.com/" target="_blank">Artigos</a></li>

        </ul>
    </div>
</nav>