{% load static %} {% load thumbnail %} {% load ogp %}

<html>

<head>

    {% show_ogp %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    {% include "mainapp/css.html" %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "url": "http://www.isabelelucchesi.com",
            "familyName": "Lucchesi",
            "givenName":"Isabele",
            "jobTitle":["Psicóloga", "Sex Coach"],
            "sameAs":["https://www.facebook.com/", "https://www.linkedin.com/"],
            "workLocation": [
                {
                  "@type": "Place",
                  "image":"https://www.isabelelucchesi.com/media/uploads/2018/03/24/consola%C3%A7%C3%A3o.jpg",
                  "address":
                  {
                      "@type":"PostalAddress",
                      "streetAddress": "Rua Augusta, 1939",
                      "addressLocality": "São Paulo"
                  },
                  "geo":
                  {
                      "@type": "GeoCoordinates",
                      "elevation":"820",
                      "latitude": "40.75",
                      "longitude": "73.98"
                      
                  },
                  "hasMap":
                  {
                      "@type": "Map",
                      "url":"tete"
                  }
              },
              {
                  "@type": "Place",
                  "address":
                  {
                      "@type":"PostalAddress",
                      "streetAddress": "Rua Manoel da Nóbrega, 354",
                      "addressLocality": "São Paulo"
                  }
                }
            ]
          }
        </script>
</head>

<body>
    {% include "mainapp/body-header.html" with home=home %}
    <main>
        <section id="header" class="main-header">
            <div class="header-content">
                <!-- <h1>Isabele Lucchesi</h1>
                <p>Psicóloga e Sex Coach.</p>
                <p>Atendimento em São Paulo e Online</p> -->
                <p> {{home.header_text|safe}}</p>
            </div>
        </section>
        <section class="container clearfix section-about" id="about">
            <div class="row">
                <header class="header">
                    <h2 id="about-title" class="title">
                        {{home.title_about}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p> {{home.text_about|safe}}

                    </p>
                </div>
                <div class="col-md-4">
                    <img class="about-img" src="{% thumbnail home.image 334x334 box=home.cropping crop detail %}" alt="{{home.image_alt}}" /></div>
            </div>
        </section>
        <section class="clearfix banner1" id="banner1">
        </section>
        <section class="container clearfix" id="testimonials">
            <div class="row">
                <header class="header">
                    <h2 class="title">
                        {{home.title_depositions}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="flex-container">

                    {% for d in depositions %}
                    <div class="col-md-4 col-sm-6 flex-margin">
                        <blockquote class="depo">
                            <p>{{d.text}}</p>
                            <address class="cli">{{d.author}}</address>
                        </blockquote>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <section class="clearfix banner2" id="banner2">
        </section>
        <section class="container clearfix" id="address">
            <div class="row">
                <header class="header">
                    <h2 class="title">
                        {{home.title_enderecos}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul class="adrress">

                        {% for a in address %}
                        <li>
                            <p>{{a.title}}</p>
                            <p>{{a.text}}</p>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="col-md-8 iframe-map">
                    <iframe src="{{home.link_maps}}" width="100%" height="480"></iframe>
                </div>
            </div>
        </section>
        <section class="clearfix banner3" id="banner2">
        </section>

        {% include "mainapp/contact.html" with home=home %}

    </main>

    {% include "mainapp/aside.html" with home=home %}
    {% include "mainapp/footer.html" %}

</body>

{% include "mainapp/js.html" %}

</html>