{% load static_push %} {% load thumbnail %}

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    {% include "mainapp/css.html" %}
</head>

<body>
    {% include "mainapp/body-header.html" with home=home menu_url=menu_url %}
    <main>
        <section class="container clearfix" id="about">
            <div class="row">
                <header class="header">
                    <h2 id="about-title" class="title">
                        {{home.title_services}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="services-ul">
                        {% for ss in simple_services %}
                        <li><img src="{% static_push 'mainapp/images/icon/check-double-solid.svg' %}" />{{ss.text}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{home.youtube_url}}" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>

                </div>



            </div>
            {% for cs in complex_services %}
            <div class="row resume">
                <h2>
                    {{cs.title}}
                </h2>
                <p>{{cs.text}}</p>
            </div>
            {% endfor %}

            </div>
        </section>
        <section class="clearfix banner3" id="banner2">
        </section>
        {% include "mainapp/contact.html" with home=home %}
    </main>
    {% include "mainapp/aside.html" with home=home %}
    {% include "mainapp/footer.html" %}
</body>
{% include "mainapp/js.html" %}


</html>