{% load static %} {% load thumbnail %}

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    {% include "mainapp/css.html" %}
</head>

<body>
    {% include "mainapp/body-header.html" with home=home menu_url=menu_url %}
    <main>
        <section class="container clearfix" id="about">
            <div class="row">
                <header class="header">
                    <h2 id="about-title" class="title">
                        {{home.title_services}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <ul class="services-ul">
                        {% for ss in simple_services %}
                        <li><img src="{% static 'mainapp/images/icon/check-double-solid.svg' %}" />{{ss.text}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <img class="about-img col-md-4" src="{% static 'mainapp/images/Stocksy_txp81fb0229Wkh100_Small_574591.jpg' %}"
                    alt="Duas mulheres deitadas e abraçadas" />

            </div>
            {% for cs in complex_services %}
            <div class="row resume">
                <h2>
                    {{cs.title}}
                </h2>
                <p>{{cs.text}}</p>
            </div>
            {% endfor %}

            </div>
        </section>
        <section class="clearfix banner3" id="banner2">
        </section>
        {% include "mainapp/contact.html" with home=home %}
    </main>
    {% include "mainapp/aside.html" with home=home %}
    {% include "mainapp/footer.html" %}
</body>
{% include "mainapp/js.html" %}


</html>