{% load static_push %} {% load thumbnail %} {% load ogp %}

<html>

<head>
    {% show_ogp %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    <link rel="
    preload" href="{% static_push 'mainapp/css/bootstrap-grid.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <link rel="
    preload" href="{% static_push 'mainapp/css/all.css' %}" as="style" onload="this.rel='stylesheet'">

</head>

<body>
    {% include "mainapp/body-header.html" with home=home menu_url=menu_url %}
    <main>
        <section class="container clearfix" id="about">
            <div class="row">
                <header class="header">
                    <h2 id="about-title" class="title">
                        {{service.title_services}}
                    </h2>
                </header>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="services-ul">
                        {% for ss in simple_services %}
                        <li><img src="{% static_push 'mainapp/images/icon/check-double-solid.svg' %}" />{{ss.text}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{service.youtube_url}}" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>

                </div>



            </div>
            {% for cs in complex_services %}
            <div class="row resume">
                <h2>
                    {{cs.title}}
                </h2>
                <p>{{cs.text}}</p>
            </div>
            {% endfor %}

            </div>
        </section>
        <section class="clearfix banner3" id="banner2">
        </section>
        {% include "mainapp/contact.html" with home=home %}
    </main>
    {% include "mainapp/aside.html" with home=home %}
    {% include "mainapp/footer.html" %}
</body>
<script src="{% static_push 'mainapp/js/all.js' %}"></script>


</html>